body {
    font-family: sans-serif;
  }
 #Calculator {
    width: 40%;
    height: 30%;
    min-width: 300px;
    min-height: 400px;
    background-color: lightgrey; 
    margin-top: 40px;
  }
  .button {
    width: 22%;
    height: 20%;
    font-size: 1.8rem;
    background-color: white;
    border: 1px solid lightgrey;
    margin-left: 10px;
    }
  .row input{
    font-size: 23px;
    margin-bottom: 10px;
    padding: 10px 38px;
    width: 82%;
    border: none;
    margin-left: 10px;
  }
  #heading{
    background-color: black;
    color: white;
    width: 94%;
    padding: 10px;
    text-align: center;
  }
  #yellow{
    background-color: rgb(233, 145, 13);
  }
  .red{
    background-color: rgb(224, 79, 79);
  }